<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFXeQ9Co6Fr655YPgnbXgcPYiSG3ope0s</string>
	<key>GCM_SENDER_ID</key>
	<string>502540128160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deadshot</string>
	<key>PROJECT_ID</key>
	<string>deadshotstack</string>
	<key>STORAGE_BUCKET</key>
	<string>deadshotstack.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502540128160:ios:701e9015a7bbe4b7ad9ec5</string>
</dict>
</plist>